{% extends "base.html" %}

{% block contents %}

<!--Category Select Section-->
<div class="container-fluid">
    <div class="mx-2 row justify-content-center">
        <div class="col-md-3 mt-4 mx-1 text-center">
           <label class="selectorLabel">&nbsp;날짜 &nbsp;</label>
            <select class="selectorForm text-center" id="selectDate">
              <option value="total">전체</option>
            </select>
        </div>
        <div class="col-md-3 mt-4 mx-2 text-center">
            <label class="selectorLabel">&nbsp;키워드&nbsp;</label>
            <select class="selectorForm text-center" id="selectKeyword">
              <option value="total">전체</option>
            </select>
        </div>
        <div class="col-md-3 mt-4 mx-1 text-center">
           <label class="selectorLabel">&nbsp;언론사&nbsp;</label>
            <select class="selectorForm text-center" id="selectCompany">
              <option value="total">전체</option>
            </select>
        </div>
    </div>
</div>

<!--Statistics Card Section-->
<div class="conatiner-fluid">
  <div class="row mt-3 justify-content-center">
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">총 기사 수</h6>
      <h4 id="statisticsCardTotal"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">긍정 비율</h6>
      <h4 id="statisticsCardPositive"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">부정 비율</h6>
      <h4 id="statisticsCardNegative"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">중립 비율</h6>
      <h4 id="statisticsCardNormal"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">확진자수</h6>
      <h4 id="infectionsCount"></h4>
      <div class="spinner-grow spinner-grow-sm text-dark temp-spinner mb-2 " role="status"></div>
    </div>
  </div>
</div>



<!--Pie Graph--> <!--Ranking Chart-->
<div class="container-fluid mt-5 text-center">
  <h3 id="rankingOrPieChartText">긍정-부정 분석 결과</h3>
  <h5 id="subtitleForRankingChart"></h5>
  <div class="pie_chart mx-auto mt-3 row justify-content-center" id="divForPieChart">
      <div class="col-md-6 text-center">
          <h2>waiting..</h2>
      </div>
  </div>
</div>

<!--Line Graph-->
<div class="container-fluid text-center margin-top-many">
  <h3>일별 긍정, 부정 분석 결과</h3>
  <div>
      <button type="button" class="btn btn-secondary btn-sm mx-2" id="buttonForLastMonth" data-monthChange="-1">저번 달</button>
      <button type="button" class="btn btn-secondary btn-sm mx-2" id="buttonForNextMonth" data-monthChange="1">다음 달</button>
  </div>
  <div class="line_chart mx-auto mt-3 row justify-content-center" id="divForLineChart">
    <div class="col-md-6 text-center">
      <h2>waiting..</h2>
    </div>
  </div>
</div>

<!--테스트용 Line Graph-->
<div class="container-fluid text-center margin-top-many">
    <h3>-테스트-</h3>
    <div class="mx-2 row justify-content-center">
        <div class="col-md-2 mt-4 mx-1 text-center">
            <label>월</label>
            <select class="selectorForm text-center" id="selectTestMonth">
              <option value="1" selected="selected">&nbsp;1월&nbsp;</option>
              <option value="2">&nbsp;2월&nbsp;</option>
              <option value="3">&nbsp;3월&nbsp;</option>
              <option value="4">&nbsp;4월&nbsp;</option>
              <option value="5">&nbsp;5월&nbsp;</option>
            </select>
        </div>
        <div class="col-md-2 mt-4 mx-1 text-center">
            <label>버전</label>
            <select class="selectorForm text-center" id="selectTestVersion">
              <option value="1" selected="selected">&nbsp;1&nbsp;</option>
              <option value="2">&nbsp;2&nbsp;</option>
              <option value="3">&nbsp;3&nbsp;</option>
              <option value="4">&nbsp;4&nbsp;</option>
            </select>
        </div>
    </div>
    <div class="line_chart mx-auto mt-3 row justify-content-center" id="divForLineChart6">
      <div class="col-md-6 text-center">
        <h2>waiting..</h2>
      </div>
    </div>
</div>

<!--News Chart-->
<div class="container-fluid text-center margin-top-many-2 margin-bottom-many">
  <h3>뉴스별 긍정, 부정 분석 결과</h3>
  <div>
      <button type="button" class="btn btn-secondary btn-sm mx-2" id="buttonForLastPage" data-pagechange="-1">이전 </button>
      <button type="button" class="btn btn-secondary btn-sm mx-2" id="buttonForNextPage" data-pagechange="1">다음</button>
      <span id="commentForNewsPage"></span>
  </div>
  <div class="news_chart mx-auto mt-3">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-whitepurple">
          <th scope="col">기사 입력 시간</th>
          <th scope="col">언론사</th>
          <th scope="col">기사 제목</th>
          <th scope="col">긍정, 부정</th>
        </tr>
      </thead>
      <tbody id="newsChartTbody" class="text-center">
          <td colspan="100%"><h3>waiting..</h3></td>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}


</body>
</html>
