{% extends "base.html" %}

{% block contents %}

<!--Category Select Section-->
<div class="container-my">
    <div class="mx-2 display-flex justify-content-space-around">
        <div class="mt-4 mx-1 text-center">
           <label class="selectorLabel">&nbsp;날짜&nbsp;&nbsp;</label>
            <select class="selectorForm text-center" id="selectDate">
              <option value="total">전체</option>
            </select>
        </div>
        <div class=" mt-4 mx-2 text-center">
            <label class="selectorLabel">&nbsp;키워드&nbsp;</label>
            <select class="selectorForm text-center" id="selectKeyword">
              <option value="total">전체</option>
            </select>
        </div>
        <div class=" mt-4 mx-1 text-center">
           <label class="selectorLabel">&nbsp;언론사&nbsp;</label>
            <select class="selectorForm text-center" id="selectCompany">
              <option value="total">전체</option>
            </select>
        </div>
    </div>
</div>

<!--Statistics Card Section-->
<div class="conatiner-my">
  <div class="container-statistics-card">
    <div class="statistics-card">
      <h6 class="statistics-card-title">총 기사 수</h6>
      <h4 class="statistics-card-value"  id="statisticsCardTotal"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="statistics-card">
      <h6 class="statistics-card-title">긍정 비율</h6>
      <h4 class="statistics-card-value" id="statisticsCardPositive"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="statistics-card">
      <h6 class="statistics-card-title">부정 비율</h6>
      <h4 class="statistics-card-value" id="statisticsCardNegative"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="statistics-card">
      <h6 class="statistics-card-title">중립 비율</h6>
      <h4 class="statistics-card-value" id="statisticsCardNormal"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="statistics-card">
      <h6 class="statistics-card-title">확진자수</h6>
      <h4 class="statistics-card-value" id="infectionsCount"></h4>
      <div class="spinner-grow spinner-grow-sm text-dark temp-spinner mb-2 " role="status"></div>
    </div>
  </div>
</div>



<!--Pie Graph--> <!--Ranking Chart-->
<div class="container-fluid mt-5 text-center margin-bottom-many">
  <h3 id="rankingOrPieChartText">긍정-부정 분석 결과</h3>
  <h5 id="subtitleForRankingChart"></h5>
  <div class="pie_chart mx-auto mt-3 row justify-content-center charts" id="divForPieChart">
      <div class="col-md-6 text-center">
          <h2>waiting..</h2>
      </div>
  </div>
</div>


<!--pyLDAvis-->

<div class="container-fluid mt-5 text-center margin-bottom-many">
  <h3 id="">기사본문 토픽모델링 결과</h3>
  <div class="mx-2 display-flex justify-content-center">
    <div class="mt-4 mx-1 text-center">
       <label class="selectorLabel">&nbsp;&nbsp;월&nbsp;&nbsp;</label>
        <select class="selectorForm text-center" id="selectDatePyLda">
          <option value="1">1월</option>
          <option value="2">2월</option>
          <option value="3">3월</option>
          <option value="4">4월</option>
          <option value="5">5월</option>
          <option value="6">6월</option>
          <option value="7">7월</option>
          <option value="8">8월</option>
          <option value="9">9월</option>
          <option value="10">10월</option>
          <option value="11" selected>11월</option>
        </select>
    </div>
  </div>
  <div class="lda_chart mx-auto mt-3 row justify-content-center charts" id="divForPyLda">
      <div class="col-md-6 text-center">
          <h2>waiting..</h2>
      </div>
  </div>
</div>


<!--Line Graph-->
<div class="text-center margin-top-many container-my margin-bottom-many">
    <h3>일별 긍정, 부정 분석 결과</h3>
    <div class="mx-2 justify-content-center display-flex line-graph-box">
        <button type="button" class="btn btn-secondary btn-sm mx-2" id="buttonForLastMonthLine" data-monthChange="-1">저번 달</button>
        <button type="button" class="btn btn-secondary btn-sm mx-2" id="buttonForNextMonthLine" data-monthChange="1">다음 달</button>
        <div class="mt-4 text-center p-2">
            <label class="line-graph-label">구간</label>
            <select class="selectorForm text-center" id="selectInterval">
              <option value="month" selected="selected">월 단위</option>
              <option value="year">전체 단위</option>
            </select>
        </div>
    </div>
    <div class="line_chart mx-auto mt-3 row justify-content-center charts" id="divForLineChart">
      <div class="col-md-6 text-center">
        <h2>waiting..</h2>
      </div>
    </div>
</div>

<!--WordCloud-->

<div class="container-fluid mt-5 text-center margin-bottom-many">
  <h3 id="">기사본문 워드클라우드 결과</h3>
  <div class="mx-2 display-flex justify-content-center">
    <div class="mt-4 mx-1 text-center">
       <label class="selectorLabel">&nbsp;&nbsp;월&nbsp;&nbsp;</label>
        <select class="selectorForm text-center" id="selectDateWordCloud">
          <option value="total">전체</option>
          <option value="1">1월</option>
          <option value="2">2월</option>
          <option value="3">3월</option>
          <option value="4">4월</option>
          <option value="5">5월</option>
          <option value="6">6월</option>
          <option value="7">7월</option>
          <option value="8">8월</option>
          <option value="9">9월</option>
          <option value="10">10월</option>
          <option value="11" selected>11월</option>
        </select>
    </div>
    <div class=" mt-4 mx-2 text-center">
        <label class="selectorLabel">&nbsp;키워드&nbsp;</label>
        <select class="selectorForm text-center" id="selectKeywordWordCloud">
          <option value="total">전체</option>
          <option value="it">IT</option>
          <option value="education">교육</option>
          <option value="election">대선</option>
          <option value="vaccine">백신</option>
          <option value="realEstate">부동산</option>
          <option value="capital">수도권</option>
          <option value="trip">여행</option>
          <option value="store">자영업</option>
          <option value="stock">주식</option>
          <option value="environment">친환경</option>
          <option value="corona">코로나</option>
        </select>
    </div>
  </div>
  <div class="word-cloud" id="divForWordCloud">
      <div class="mx-auto text-center">
          <h2>waiting..</h2>
      </div>
  </div>
</div>


<!--News Chart-->
<div class="container-fluid text-center margin-top-many-2 margin-bottom-many2">
  <h3>뉴스별 긍정, 부정 분석 결과</h3>
  <div>
      <button type="button" class="btn btn-secondary btn-sm mx-2" id="buttonForLastPage" data-pagechange="-1">이전 </button>
      <button type="button" class="btn btn-secondary btn-sm mx-2" id="buttonForNextPage" data-pagechange="1">다음</button>
      <span id="commentForNewsPage"></span>
  </div>
  <div class="news_chart mx-auto mt-3">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-whitepurple">
          <th scope="col">기사 입력 시간</th>
          <th scope="col">언론사</th>
          <th scope="col">기사 제목</th>
          <th scope="col">긍정, 부정</th>
        </tr>
      </thead>
      <tbody id="newsChartTbody" class="text-center">
          <td colspan="100%"><h3>waiting..</h3></td>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}


</body>
</html>
