{% extends "base.html" %}

{% block contents %}

<!--Category Select Section-->
<div class="container-fluid">
    <div class="mx-2 row">
        <div class="col-md-4 mt-4 text-center">
           <label class="selectorLabel">날짜&nbsp;&nbsp;</label>
            <select class="selectorForm text-center" id="selectDate">
              <option value="total">전체</option>
            </select>
        </div>
        <div class="col-md-4 mt-4 text-center">
           <label class="selectorLabel">키워드&nbsp;&nbsp;</label>
            <select class="selectorForm text-center" id="selectKeyword">
              <option value="total">전체</option>
            </select>
        </div>
        <div class="col-md-4 mt-4 text-center">
           <label class="selectorLabel">언론사&nbsp;&nbsp;</label>
            <select class="selectorForm text-center" id="selectCompany">
              <option value="total">전체</option>
            </select>
        </div>
    </div>
</div>

<!--Statistics Card Section-->
<div class="conatiner-fluid">
  <div class="row mt-3 justify-content-center">
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">총 개수</h6>
      <h4 id="statisticsCardTotal"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">긍정</h6>
      <h4 id="statisticsCardPositive"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">부정</h6>
      <h4 id="statisticsCardNegative"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">노말</h6>
      <h4 id="statisticsCardNormal"></h4>
      <div class="spinner-grow  spinner-grow-sm text-dark temp-spinner mb-2" role="status"></div>
    </div>
    <div class="col-md-1 mx-4 shadow statistics_card text-center">
      <h6 class="mt-2" style="font-weight: bold;">확진자수</h6>
      <h4 id="infectionsCount"></h4>
      <div class="spinner-grow spinner-grow-sm text-dark temp-spinner mb-2 " role="status"></div>
    </div>
  </div>
</div>



<!--Pie Graph--> <!--Ranking Chart-->
<div class="container-fluid mt-5 text-center">
  <h3>긍정-부정 분석 결과</h3>
  <div class="pie_chart mx-auto mt-3 row justify-content-center" id="divForPieChart">
      <div class="col-md-6 text-center">
          <h2>waiting..</h2>
      </div>
  </div>
</div>

<!--Line Graph-->
<div class="container-fluid mt-5 text-center">
  <h3>일별 긍정, 부정 분석 결과</h3>
  <div class="line_chart mx-auto mt-3">
    <canvas id="positiveNegativeLineChart" ></canvas>
  </div>
</div>

<!--News Chart-->
<div class="container-fluid mt-5 text-center">
  <h3>뉴스별 긍정, 부정 분석 결과</h3>
  <div class="news_chart mx-auto mt-3">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-whitepurple">
          <th scope="col">기사 입력 시간</th>
          <th scope="col">언론사</th>
          <th scope="col">기사 제목</th>
          <th scope="col">긍정, 부정</th>
        </tr>
      </thead>
      <tbody id="newsChartTbody">
      </tbody>
    </table>
  </div>
</div>

{% endblock %}


</body>
</html>
