@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Gugi&family=Mukta&family=Raleway:wght@300&family=Roboto:wght@300&display=swap');
/*----my own customize css ---- */

body {
   background-color: #edfaf7;
   font-family: 'Roboto', sans-serif;
   color: rgba(0,0,0,0.9);
   height: 4400px;
}

@media only screen and (min-width: 963px) and  (max-width: 990px) {
    body {
       background-color: #edfaf7;
       font-family: 'Roboto', sans-serif;
       color: rgba(0,0,0,0.9);
       height: 4800px;
    }
}


@media only screen and (min-width: 845px) and (max-width: 963px) {
    body {
       background-color: #edfaf7;
       font-family: 'Roboto', sans-serif;
       color: rgba(0,0,0,0.9);
       height: 5150px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 845px) {
    body {
       background-color: #edfaf7;
       font-family: 'Roboto', sans-serif;
       color: rgba(0,0,0,0.9);
       height: 5250px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    body {
       background-color: #edfaf7;
       font-family: 'Roboto', sans-serif;
       color: rgba(0,0,0,0.9);
       height: 5300px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 500px) {
    body {
       background-color: #edfaf7;
       font-family: 'Roboto', sans-serif;
       color: rgba(0,0,0,0.9);
       height: 5600px;
    }
}

@media only screen and (max-width: 450px) {
    body {
       background-color: #edfaf7;
       font-family: 'Roboto', sans-serif;
       color: rgba(0,0,0,0.9);
       height: 6100px;
    }
}
path {
   fill: #edfaf7 !important;
}


a {
    text-decoration: none;
    color: inherit;
}

.title {
    font-family: 'Gugi', cursive;
    display: inline-block;
    color: rgba(255,255,255,.7);
    font-size: 2em;

}

.title-sub {
    display: inline-block;
    margin-right: .3em;
}

.nav-title {
    text-align: center;
    color: rgba(255,255,255,.8);
    margin-left: 4em;
}

@media only screen and (max-width: 1101px) {
    .nav-title {
        text-align: center;
        color: rgba(255,255,255,.8);
        margin: 0 auto;
    }
}

.anychart-tooltip {
    border-radius: 23px;
    background: rgba(255, 255, 255, 1) !important;
    font-family: Courier, Helvetica, Arial, 'sans-serif';
    color: black;
}

.anychart-tooltip-separator {
    height: 3px !important;
    background: rgba(255, 255, 255, 1) !important;
    color: black !important;
}

.anychart-tooltip-title{
    font-size: 28px !important;
    color: black !important;
}


.bg-navbar {
    background-color: #82abed;
    padding: 1.3em 0;
    text-align: center;
}

.enter-newline {
    white-space: pre-wrap;
}
.nav-rightside {
    text-align: right;
}

.marginforjumbo {
    margin-top: 150px;
    margin-left: 70px;
}
.bg-whiteblue {
    background-color: #ceecf2;
}
.bg-whitegreen {
    background-color: #d5f5e9;
}
.bg-whiteyellow {
    background-color: #f2f5d5;
}
.bg-whitepurple {
    background-color: #eed5f5;
}

.hover-active:hover {
    font-weight: bold; 
}
.nav-active {
    font-weight: 900  !important;
    color: #a83e9e  !important;
}
.header-title {
    font-size: 30px;
    font-weight: bold;
}
.logo {
    height: 3rem
}

.selectorForm {
    display: inline-block;
    padding: .2em 0;
    width: 8em; 
    font-weight: bold;
    background-color: #5fc9b1;
    font-size: 1.6em;
}
.selectorLabel {
    font-size: 20px;
}
.pie_chart {
    max-height: 400px;
    max-width: 400px;
}
.line_chart {
    max-width: 900px; 
    max-height: 400px;
}

.margin-top-many {
    margin-top: 130px;
}
.margin-top-many-2 {
    margin-top: 100px;
}
.margin-top-many-3 {
    margin-top: 1500px;
}
.margin-bottom-many {
    margin-bottom: 20vh;
}

.narrow-bottom-less {
    margin-bottom: 30vh;
}

@media only screen and (max-width: 900px) {
    .narrow-bottom-less {
        margin-bottom: 15vh;
    }
}

#divForPyLda-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#divForPyLda-lambdaInput {
    margin: 1em 0 !important;
    padding: 0 !important;
    margin:  0 !important
}

.margin-bottom-many-4 {
    margin-bottom: 10vh
}

.margin-bottom-many-5 {
    margin-bottom: 5vh
}

.anychart-credits {
   display: none;
}

.word-cloud {
    height: 500px;
    max-width: 900px  ;
    margin: 5em auto 5em auto;
}

.margin-bottom-many2 {
    margin-bottom: 60vh;
}

.margin-top-many3 {
    margin-top: 3vh;
}

.div-for-space {
    height: 10vh;
}

.permanent-space {
    height: 50vh;
}


@media only screen and (max-width: 910px) {
    .div-for-space {
        height: 0;
    }
}


.news_chart {
    max-width: 1100px; 
    max-height: 600px;
}
.charts {
    position: relative;
    width: 90vw;
}
.newsPositive {
    color:cornflowerblue !important;
    font-weight: bold !important;
}
.newsNegative {
    color:deeppink !important; 
    font-weight: bold !important;
}
.newsNormal {
    color:darkkhaki !important;
    font-weight: bold !important;
}

.error {
    color: red;
}

.container-nav {
    padding: 0 .3em;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%
}

.navbar-div {
    margin: 0 7em;
}

.nav-a {
    font-size: 1.4em;
}

.container-my {
    margin: 2em auto;
    padding: 0 1.5em;
    max-width: 1280px;
}
.container-statistics-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1080px;
    margin: 3em auto 1em auto;
}

.container-selector {
    max-width: 1080px;
    flex-wrap: wrap;
    margin: 3em auto 1em auto;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text-align-right {
    text-align: right;
}

.justify-content-space-around {
    justify-content: space-around;
}

.line-graph-label {
    font-size: 1.6em;
    display: inline-block;
    margin: .3em;
}

.line-graph-box {
    padding: 0 15%;
}


.statistics-card {
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 2.1em 1.1em;
    min-width: 9em;
    border-radius: 50%;
    background-color:lightgreen;
    border: 1px solid lightgreen; 
    margin: .3em 
}
.statistics-card-title {
    font-weight: bold;
    font-size: 1.4em;
}
.statistics-card-value {
    font-size: 2em;
}
