/*----my own customize css ---- */
a {
    text-decoration: none;
    color: inherit;
}
.enter-newline {
    white-space: pre-wrap;
}
.nav-rightside {
    text-align: right;
}
.marginforjumbo {
    margin-top: 150px;
    margin-left: 70px;
}
.bg-whiteblue {
    background-color: #ceecf2;
}
.bg-whitegreen {
    background-color: #d5f5e9;
}
.bg-whiteyellow {
    background-color: #f2f5d5;
}
.bg-whitepurple {
    background-color: #eed5f5;
}
.hover-active:hover {
    font-weight: bold; 
}
.nav-active {
    font-weight: 900  !important;
    color: #a83e9e  !important;
}
.header-title {
    font-size: 30px;
    font-weight: bold;
}
.logo {
    height: 3rem
}
.selectorForm {
    width: 130px;
    font-weight: bold;
    background-color: #eed5f5;
    font-size: 18px;
}
.selectorLabel {
    font-size: 20px;
}
.pie_chart {
    height: 400px;
    width: 400px;
}
.line_chart {
    width: 900px; 
    height: 400px;
}
.margin-top-many {
    margin-top: 130px;
}
.margin-top-many-2 {
    margin-top: 100px;
}
.margin-top-many-3 {
    margin-top: 1500px;
}
.margin-bottom-many {
    margin-bottom: 400px;
}
.news_chart {
    width: 1100px; 
    height: 600px;
}
.newsPositive {
    color:cornflowerblue !important;
    font-weight: bold !important;
}
.newsNegative {
    color:deeppink !important; 
    font-weight: bold !important;
}
.newsNormal {
    color:darkkhaki !important;
    font-weight: bold !important;
}
.statistics_card {
    background-color:lightgreen;
    margin-top: 20px;
}
.error {
    color: red;
}
