[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
pymongo = "*"
bcrypt = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
